@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #4c8fe0;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 270px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding-left: 16px;
	z-index: 2;
}

h2 {
	font-size: 18px;
	margin-bottom: 8px;
}
.area{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  border-radius: 5px;
}

.location{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #e0eae4;
  width: 76%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  border-radius: 5px;
}

.submit{
  background: whitesmoke;
  width: 76%;
  border-radius: 50px;
  border: 2px solid #00d2b5 ;
  margin: 25px 0 10px;
  box-sizing: border-box;
  font-size: 15px;
	height: 35px;
	text-align: center;
	border-radius: 5px;
}

.submit:hover{
	background-color: #41ac03;
    color: rgb(13, 51, 222);
    border: 2px solid #00d2b5;
}

.result{
	border-radius: 50px;
    padding: 10px 30px;
    background-color: #099986;
    color: white;
    border: 2px solid #00d2b5 ;
    cursor: pointer;
}

.result{
	background-color: transparent;
    color: rgb(11, 179, 16);
    border: 2px solid #00d2b5;
}

.img {
  background: url("D:/houseprice.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  background-size:100% 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

body, html {
  height: 100%;
}